:root {
    /* color variables */
    --tan: #a38560ff;
    --white: #ffffffff;
    --light-blue: #2e5077ff;
    --dark-blue: #18206fff;
    --dark-grey: --dark-grey;

    /* font family */
    font-family: Arial, Helvetica, sans-serif;

    /* variable for border style */
    --border: 10px solid var(--tan);

    /* margin for body text */
    --body-margin: 10px 10px;
}

/* header with top margin in tan */
header{
    background-color: var(--light-blue);
    color: var(--white);
    padding: 20px;
    text-align: center;
    border-top: var(--border);
}

body {
    text-align: center;
}

h1 {
    font-size: large;
}

p {
    font-size: small;
}

.search {
    text-align: center;
}

table {
    margin-top: 20px;
    border: 1px solid;
    border-collapse: collapse;
    width: 100%;
}

.tableHead {
    background-color: var(--light-blue);
    color: var(--white);
    text-align: center;
    font-size: medium;
}

.tableRow {
    border: 1px solid;
    text-align: left;
}

.tableData {
    border: 1px solid;
}

/* classes for display of approved and banned words in the table */
.wordApproved .tableData {
    background-color: rgb(214, 245, 213);
}

.wordBanned .tableData {
    background-color: rgb(245, 205, 206);
}